# Review when someone opens a pull request.
*  @sayudhroy

# Configs owner
app/configs @spuranda123

#Controllers owner
app/controllers varshavk22@gmail.com

#Models and Services owner
app/services smrthkulkarni@gmail.com
app/models smrthkulkarni@gmail.com

#Views owner
app/views varshavk22@gmail.com
